.winScreen {
    width: 100%;
    top: 100px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: drop 2s;
}

@keyframes drop {
    0% {
        top: -500px;
    }
    100% {
        top: 100px;
    }
}